$defaultBg: rgb(29 31 32 / 71%);
$defaultColor: #c8c8c8;
$defaultBorder: #c8c8c8;

// ** Info
$infoColor: #bcc0ff;
$infoBorder: #646cff;
$infoBg: rgb(100 108 255 / 8%);

// ** Warning
$warningBg: rgb(255 197 23 / 5%);
$warningColor: #fcd253;
$warningBorder: rgba(255, 213, 0, 0.793);

// ** Error
$errorBg: rgb(192 29 29 / 15%);
$errorColor: #ef8d8dfa;
$errorBorder: rgba(255, 25, 0, 0.322);

// ** Success
$successBg: rgba(246, 238, 9, 0.127);
$successColor: #7acf58d6;
$successBorder: rgba(0, 255, 0, 0.322);

@mixin alert($name, $borderColor, $bgColor, $color){
    .alert-#{$name}{
        cursor: pointer;
        border: 2px dotted $borderColor;
        color: $color;
        border-radius: 0.8rem;
        margin-bottom: 20px;
        -webkit-border-radius: 0.8rem;
        -moz-border-radius: 0.8rem;
        -ms-border-radius: 0.8rem;
        -o-border-radius: 0.8rem;
        background-color: $bgColor; 
        padding: 1.3rem;
        .alert-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-items: center;
            .title{
                display: flex;
                align-items: center;
            }
            span svg{
                margin-right: 0.8rem;
                
            }
            .close{
                cursor: pointer;
            }
        }
        p{
            font-size: 0.9rem;
            font-weight: 500;
            line-height: 1.5rem;
            margin-top: 1.2rem;
        }
    }
}


@include alert("danger", $errorBorder, $errorBg, $errorColor);
@include alert("info", $infoBorder, $infoBg, $infoColor);
@include alert("warning", $warningBorder, $warningBg, $warningColor);
@include alert("success", $successBorder, $successBg, $successColor);
@include alert("default", $defaultBorder, $defaultBg, $defaultColor);